<%= form_for(@draw) do |f| %>
  <% if @draw.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@draw.errors.count, "error") %> prohibited this draw from being saved:</h2>

      <ul>
      <% @draw.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :canvas_name %><br>
    <%= f.text_field :canvas_name %>
  </div>
    <%= f.submit %>
  </div>
<% end %>
